
# Data directories

# Ignore raw datasets but keep folder visible
data/raw/*
!data/raw/.gitkeep

# Keep processed directory visible (processed files may be committed if needed)
!data/processed/.gitkeep
# Kaggle credentials
kaggle.json
.kaggle/

# Jupyter & Python cache
.ipynb_checkpoints/
__pycache__/
*.pyc

# OS & editor files

.DS_Store
.vscode/


