# Ignore data files
data/raw/*
data/processed/*

# Keep directory structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Kaggle credentials
kaggle.json
.kaggle/

# Jupyter & Python cache
.ipynb_checkpoints/
__pycache__/
*.pyc

# OS & editor files
# macOS system files
.DS_Store
.vscode/
